	<!-- Header -->
<header id="header">
	<h1>Lens: Venezuela</h1>
	<p>Plantilla elegante y responsiva modificada por <a href="http://github.com/apinango70" target="_blank" >Alejandro Piñango</a>
	<p>Información sobre este desarrollo: <%= link_to 'Acerca de', about_path %> </p> 

	<ul class="icons">
		<li><%= link_to '#' do %><i class="fa-brands fa-twitter fa-xl"></i><% end %></a></li>
		<li><%= link_to '#' do %><i class="fa-brands fa-instagram fa-xl"></i><% end %></a></li>
		<li><%= link_to '#' do %><i class="fa-brands fa-github fa-xl"></i><% end %></a></li>
        <li><%= link_to '#' do %><i class="fa-brands fa-tiktok fa-xl"></i><% end %></a></li>
		<li><%= link_to '#' do %><i class="fa-solid fa-envelope fa-xl"></i><% end %></li>
	</ul>
</header>