<!-- Thumbnail -->
    <section id="thumbnails">
        <article>
            <%= link_to(image_tag("thumbs/01.jpg", alt: ""), image_path("fulls/01.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_01 %></h2>
            <p><%=@text_photo_01 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/02.jpg", alt: ""), image_path("fulls/02.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_02 %></h2>
            <p><%=@text_photo_02 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/03.jpg", alt: ""), image_path("fulls/03.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_03 %></h2>
            <p><%=@text_photo_03 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/04.jpg", alt: ""), image_path("fulls/04.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_04 %></h2>
            <p><%=@text_photo_04 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/05.jpg", alt: ""), image_path("fulls/05.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_05 %></h2>
            <p><%=@text_photo_05 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/06.jpg", alt: ""), image_path("fulls/06.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_06 %></h2>
            <p><%=@text_photo_06 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/07.jpg", alt: ""), image_path("fulls/07.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_07 %></h2>
            <p><%=@text_photo_07 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/08.jpg", alt: ""), image_path("fulls/08.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_08 %></h2>
            <p><%=@text_photo_08 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/09.jpg", alt: ""), image_path("fulls/09.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_09 %></h2>
            <p><%=@text_photo_09 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/10.jpg", alt: ""), image_path("fulls/10.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_10 %></h2>
            <p><%=@text_photo_10 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/11.jpg", alt: ""), image_path("fulls/11.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_11 %></h2>
            <p><%=@text_photo_11 %></p>
        </article>
        <article>
            <%= link_to(image_tag("thumbs/12.jpg", alt: ""), image_path("fulls/12.jpg"), class: "thumbnail") %>
            <h2><%=@title_photo_12 %></h2>
            <p><%=@text_photo_12 %></p>
        </article>
    </section>
 

